<h3>June 12, 2023 8:00 - 9:00 PDT</h3>
<p>The intoduction session will ensure everyone has the correct software installed and exercise data downloaded. Use <a href="https://gcc02.safelinks.protection.outlook.com/ap/t-59584e83/?url=https%3A%2F%2Fteams.microsoft.com%2Fl%2Fmeetup-join%2F19%253ameeting_NDFiYWUzN2ItYmNkNC00MGI1LWE1NmQtOWZkZTY5YzI3MWZm%2540thread.v2%2F0%3Fcontext%3D%257b%2522Tid%2522%253a%25220693b5ba-4b18-4d7b-9341-f32f400a5494%2522%252c%2522Oid%2522%253a%2522c5d2fd9c-566e-45c9-83e1-374a69696db6%2522%257d&data=05%7C01%7Cmahunter%40usgs.gov%7C107ee9eedde04ccb824a08da43faca52%7C0693b5ba4b184d7b9341f32f400a5494%7C0%7C0%7C637897041652258866%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=H7t7%2FR0Gl7ExdWsQvA37h97XESGCSpoSEdxHdhV7mjI%3D&reserved=0">this link</a> to join.</p>
<h3>June 14, 2022 8:00 - 3:30 PDT</h3>
<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>08:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html">Running and Quitting</a></td>        <!-- content -->
        <td>How can I run Python programs?</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>08:15</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html">Variables and Assignment</a></td>        <!-- content -->
        <td>How can I store data in programs?</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>08:35</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html">Data Types and Type Conversion</a></td>        <!-- content -->
        <td>What kinds of data do programs store?<br>How can I convert one type to another?</td>
      </tr>
      <tr>               <!-- row 5   -->
        <td>08:55</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html">Built-in Functions and Help</a></td>        <!-- content -->
        <td>How can I use built-in functions?<br>How can I find out what they do?<br>What kind of errors can occur in programs?</td>
      </tr>
      <tr>               <!-- row 6   -->
        <td>09:30</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/05-coffee/index.html">Morning Coffee</a></td>
        <td>Break</td>          <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>09:35</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/06-libraries/index.html">Libraries</a></td>
        <td>How can I use software that other people have written?<br>How can I find out what that software does?</td>
      </tr>
      <tr>               <!-- row 8   -->
        <td>09:55</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html">Reading Tabular Data into DataFrames</a></td>
        <td>How can I read tabular data?</td>         <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>10:15</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html">Pandas DataFrames</a></td>
        <td>How can I do statistical analysis of tabular data?</td>             <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>10:45</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/09-plotting/index.html">Plotting</a></td>
        <td>How can I plot my data?<br>How can I save my plot for publishing?</td>
      </tr>
      <tr>               <!-- row 11   -->
        <td>11:15</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/10-lunch/index.html">Lunch</a></td>
        <td>Break</td>            <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/11-lists/index.html">Lists</a></td>
        <td>How can I store multiple values?</td>           <!-- content -->
      </tr>
      <tr>               <!-- row 13   -->
        <td>12:20</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/12-for-loops/index.html">For Loops</a></td>
        <td>How can I make a program do many things?</td>         <!-- content -->
      </tr>
      <tr>               <!-- row 14   -->
        <td>12:45</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/13-conditionals/index.html">Conditionals</a></td>
        <td>How can programs do different things for different data?</td>           <!-- content -->
      </tr>
      <tr>               <!-- row 15   -->
        <td>1:10</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets/index.html">Looping Over Data Sets</a></td>
        <td>How can I process many data sets with a single command?</td>          <!-- content -->
      </tr>
      <tr>               <!-- row 16   -->
        <td>1:25</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/15-coffee/index.html">Afternoon Coffee</a></td>
        <td>Break</td><!-- content -->
      </tr>
      <tr>               <!-- row 17   -->
        <td>1:40</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/16-writing-functions/index.html">Writing Functions</a></td>
        <td>How can I create my own functions?</td><!-- content -->
      </tr>
      <tr>               <!-- row 18   -->
        <td>2:05</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/17-scope/index.html">Variable Scope</a></td>
        <td>How do function calls actually work?<br>How can I determine where errors occurred?</td>
      </tr>
      <tr>               <!-- row 19   -->
        <td>2:25</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/18-style/index.html">Programming Style</a></td>
        <td>How can I make my programs more readable?<br>How do most programmers format their code?<br>How can programs check their own operation?</td>
      </tr>
      <tr>               <!-- row 20   -->
        <td>2:55</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/19-wrap/index.html">Wrap-Up</a></td>
        <td>What have we learned?<br>What else is out there and where do I find it?</td>
      </tr>
      <tr>               <!-- row 21   -->
        <td>3:15</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/20-feedback/index.html">Feedback</a></td>
        <td>How did the class go?</td><!-- content -->
      </tr>
      <tr>               <!-- row 22   -->
        <td>3:30</td>        <!-- time    -->
        <td>Finish</td>
        <td></td><!-- content -->
      </tr>
    </table>
  </div>
</div>
